github-actions/
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/data/sermons_cache.json
backend/venv/
frontend/node_modules/
frontend/.next/
frontend/.env.local
backend/data
.github/workflows/sync-scheduled.yml
admin-frontend/.next/
admin-frontend/node_modules/
